/* general layout stuff */
body {
	position: relative;
	display: block;
	background: linear-gradient(to bottom right, #7A7FBA, #11C37C);
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
}

main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(300px, auto);
	gap: 5px;
}

div {
	position: relative;
	background-color: white;
}

h1 {
	color: white;
}

h2 {
	margin: 0;
	padding: 0.2em;
	background: rgb(200, 200, 200);
	color: white;
}



/* css animation example */
#bouncy-content {
	position: absolute;
	bottom: 0;
	animation-name: single-bounce;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes single-bounce {
	0% {transform: translateY(0) rotate(-4deg);} 
	100% {transform: translateY(-100px) rotate(4deg);} 
} 
